<a href="https://colab.research.google.com/github/ozorpak/capstone/blob/main/Copy_of_Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=0b5fc8e6ff6f6ff8453594fa09fec79613c221ba80e13439e7530168ca8d81ad
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
!pip install google-api-python-client

Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.10/dist-packages (2.84.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client) (0.22.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client) (2.27.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client) (0.1.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client) (2.11.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.62.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.20.3)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.9)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.10/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client) (3.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2024.2.2)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

In [ ]:
# # Authenticate with Google Drive using OAuth2
# # Follow the instructions in the link below to obtain credentials:
# # https://developers.google.com/identity/protocols/application-default-credentials#callingruby
# credentials, _ = google.auth.default()
# drive_service = build('drive', 'v3', credentials=credentials)

In [ ]:
df_pyspark=spark.read.csv('hour (2).csv')

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string]

In [ ]:
df_pyspark.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+----+
|    _c0|       _c1|   _c2|_c3| _c4|_c5|    _c6|    _c7|       _c8|       _c9|_c10|  _c11|_c12|     _c13|  _c14|      _c15|_c16|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+----+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered| cnt|
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|        0|     3|        13|  16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     8|        32|  40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     5|        27|  32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     3|        10|  13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     0|         1|   1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|   1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     2|         0|   2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|        0|     1|         2|   3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     1|         7|   8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|        0|     8|         6|  14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24|  36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30|  56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55|  84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47|  94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71| 106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70| 110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52|  93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52|  67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26|  35|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+----+
only showing top 20 rows

In [ ]:
df_pyspark=spark.read.option('header','true').csv('hour (2).csv',inferSchema=True)

In [ ]:
df_pyspark.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df_pyspark.head()

Row(instant=1, dteday=datetime.date(2011, 1, 1), season=1, yr=0, mnth=1, hr=0, holiday=0, weekday=6, workingday=0, weathersit=1, temp=0.24, atemp=0.2879, hum=0.81, windspeed=0.0, casual=3, registered=13, cnt=16)

In [ ]:
df_pyspark.printSchema()

root
 |-- instant: integer (nullable = true)
 |-- dteday: date (nullable = true)
 |-- season: integer (nullable = true)
 |-- yr: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- cnt: integer (nullable = true)

part 2 processing data

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#spark=SparkSession.builder.appName('Practive2').gerOrCreate()

In [ ]:
spark

In [ ]:
## check schema
df_pyspark.printSchema()

root
 |-- instant: integer (nullable = true)
 |-- dteday: date (nullable = true)
 |-- season: integer (nullable = true)
 |-- yr: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- cnt: integer (nullable = true)

In [ ]:
df_pyspark2=spark.read.csv('hour (2).csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df_pyspark.printSchema()

root
 |-- instant: integer (nullable = true)
 |-- dteday: date (nullable = true)
 |-- season: integer (nullable = true)
 |-- yr: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- cnt: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['instant',
 'dteday',
 'season',
 'yr',
 'mnth',
 'hr',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'atemp',
 'hum',
 'windspeed',
 'casual',
 'registered',
 'cnt']

In [ ]:
df_pyspark.head(3)

[Row(instant=1, dteday=datetime.date(2011, 1, 1), season=1, yr=0, mnth=1, hr=0, holiday=0, weekday=6, workingday=0, weathersit=1, temp=0.24, atemp=0.2879, hum=0.81, windspeed=0.0, casual=3, registered=13, cnt=16),
 Row(instant=2, dteday=datetime.date(2011, 1, 1), season=1, yr=0, mnth=1, hr=1, holiday=0, weekday=6, workingday=0, weathersit=1, temp=0.22, atemp=0.2727, hum=0.8, windspeed=0.0, casual=8, registered=32, cnt=40),
 Row(instant=3, dteday=datetime.date(2011, 1, 1), season=1, yr=0, mnth=1, hr=2, holiday=0, weekday=6, workingday=0, weathersit=1, temp=0.22, atemp=0.2727, hum=0.8, windspeed=0.0, casual=5, registered=27, cnt=32)]

In [ ]:
df_pyspark.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df_pyspark.select('dteday').show()

+----------+
|    dteday|
+----------+
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
|2011-01-01|
+----------+
only showing top 20 rows

In [ ]:
df_pyspark.select(['dteday','season']).show(5)

+----------+------+
|    dteday|season|
+----------+------+
|2011-01-01|     1|
|2011-01-01|     1|
|2011-01-01|     1|
|2011-01-01|     1|
|2011-01-01|     1|
+----------+------+
only showing top 5 rows

In [ ]:
df_pyspark['dteday']

Column<'dteday'>

In [ ]:
df_pyspark.dtypes

[('instant', 'int'),
 ('dteday', 'date'),
 ('season', 'int'),
 ('yr', 'int'),
 ('mnth', 'int'),
 ('hr', 'int'),
 ('holiday', 'int'),
 ('weekday', 'int'),
 ('workingday', 'int'),
 ('weathersit', 'int'),
 ('temp', 'double'),
 ('atemp', 'double'),
 ('hum', 'double'),
 ('windspeed', 'double'),
 ('casual', 'int'),
 ('registered', 'int'),
 ('cnt', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-----------------+------------------+------------------+
|summary|          instant|            season|                yr|              mnth|                hr|             holiday|          weekday|        workingday|        weathersit|               temp|             atemp|                hum|          windspeed|           casual|        registered|               cnt|
+-------+-----------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-----------------+------------------+------------------+
|  count|            17379|             17379|             17379|             17379|             17379|               17379|            17379|             17379|             17379|              17379|             17379|              17379|              17379|            17379|             17379|             17379|
|   mean|           8690.0|2.5016399102364923|0.5025605615973301| 6.537775476149376|11.546751826917545|0.028770355026181024|3.003682605443351|0.6827205247712756| 1.425283387997008| 0.4969871684216586|0.4757751021347581| 0.6272288394038822| 0.1900976063064631|35.67621842453536|153.78686920996606|189.46308763450142|
| stddev|5017.029499614288|  1.10691813944808|0.5000078290910193|3.4387757137501724|6.9144050952644776|  0.1671652763843717|2.005771456110986|0.4654306335238818|0.6393568777542525|0.19255612124972202|0.1718502156353594|0.19292983406291458|0.12234022857279034|49.30503038705298|151.35728591258325| 181.3875990918646|
|    min|                1|                 1|                 0|                 1|                 0|                   0|                0|                 0|                 1|               0.02|               0.0|                0.0|                0.0|                0|                 0|                 1|
|    max|            17379|                 4|                 1|                12|                23|                   1|                6|                 1|                 4|                1.0|               1.0|                1.0|             0.8507|              367|               886|               977|
+-------+-----------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-----------------+------------------+------------------+

In [ ]:
#df_pyspark['yeniyil']=df_pyspark['yr']-255 pandas olmuyor

In [ ]:
## adding columns in pyspark dataframe

df_pyspark.withColumn('expafter2years',df_pyspark['yr']-2000).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|expafter2years|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|         -2000|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|         -2000|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|         -2000|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|         -2000|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|         -2000|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|         -2000|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|         -2000|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|         -2000|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|         -2000|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|         -2000|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|         -2000|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|         -2000|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|         -2000|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|         -2000|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|         -2000|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|         -2000|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|         -2000|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|         -2000|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|         -2000|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|         -2000|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+
only showing top 20 rows

In [ ]:
df_pyspark.show() # no change to add and update need to dy)pyspark == demek lazim

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
#drop the columns
df_pyspark=df_pyspark.withColumn('expafter2years',df_pyspark['yr']-2000)

In [ ]:
from pyspark.sql import functions as F

In [ ]:
#drop the column we added
df_pyspark.drop(F.col('expafter2years'))

DataFrame[instant: int, dteday: date, season: int, yr: int, mnth: int, hr: int, holiday: int, weekday: int, workingday: int, weathersit: int, temp: double, atemp: double, hum: double, windspeed: double, casual: int, registered: int, cnt: int]

In [ ]:
df_pyspark=df_pyspark.drop('expafter2years')

In [ ]:
df_pyspark.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
## rename a column

df_pyspark.withColumnRenamed('yr','year').show()

+-------+----------+------+----+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season|year|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+----+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|   0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|   0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|   0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|   0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|   0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|   0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|   0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|   0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|   0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|   0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|   0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|   0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|   0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|   0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|   0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|   0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|   0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|   0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|   0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|   0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+----+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

Filter operations

droping columns, rows,

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
df_spark1=spark.read.csv('hour (2).csv',header=True,inferSchema=True)

In [ ]:
df_spark1.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
## dropping columns to make inplace need to name variable
df_spark1=df_spark1.drop('yr')

In [ ]:
#3 row deleting with nun values, by default it is assigned to 'any' make any nunvalue existin the row will be deleted
df_spark1.na.drop().show

<bound method DataFrame.show of DataFrame[instant: int, dteday: date, season: int, mnth: int, hr: int, holiday: int, weekday: int, workingday: int, weathersit: int, temp: double, atemp: double, hum: double, windspeed: double, casual: int, registered: int, cnt: int]>

In [ ]:
## any==how 'all' means if the all row is null will  be deleted
df_spark1.na.drop(how='all')

DataFrame[instant: int, dteday: date, season: int, mnth: int, hr: int, holiday: int, weekday: int, workingday: int, weathersit: int, temp: double, atemp: double, hum: double, windspeed: double, casual: int, registered: int, cnt: int]

In [ ]:
##threshould make the threshoul for if there is min nonvalues exist will keep
df_spark1.na.drop(how='any',thresh=2)

DataFrame[instant: int, dteday: date, season: int, mnth: int, hr: int, holiday: int, weekday: int, workingday: int, weathersit: int, temp: double, atemp: double, hum: double, windspeed: double, casual: int, registered: int, cnt: int]

In [ ]:
df_pyspark.na.drop(how='any',subset=['yr'])

DataFrame[instant: int, dteday: date, season: int, yr: int, mnth: int, hr: int, holiday: int, weekday: int, workingday: int, weathersit: int, temp: double, atemp: double, hum: double, windspeed: double, casual: int, registered: int, cnt: int, expafter2years: int]

In [ ]:
## filling missing value

df_spark1.na.fill('Missing Values','season').show()

+-------+----------+------+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer=Imputer(
    inputCols=['season','mnth'],
    outputCols=['{}_imputed'.format(c) for c in ['season','mnth']]).setStrategy('mean')

In [ ]:
#add imputation cols to df
imputer.fit(df_spark1).transform(df_pyspark).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+------------+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|season_imputed|mnth_imputed|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+------------+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|             1|           1|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|             1|           1|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|             1|           1|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|             1|           1|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|             1|           1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|             1|           1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|             1|           1|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|             1|           1|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|             1|           1|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|             1|           1|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|             1|           1|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|             1|           1|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|             1|           1|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|             1|           1|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|             1|           1|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|             1|           1|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|             1|           1|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|             1|           1|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|             1|           1|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|             1|           1|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+--------------+------------+
only showing top 20 rows

filter operations in pyspark

In [ ]:
spark=SparkSession.builder.appName('data').getOrCreate()

In [ ]:
df_sal=spark.read.csv('practice.csv',header=True,inferSchema=True)

In [ ]:
df_sal

DataFrame[_c0: string, colum1: int, colum2: int, colum3: int]

In [ ]:
spark2=SparkSession.builder.appName('practice2').getOrCreate()

In [ ]:
df=spark.read.csv('practice.csv',header=True,inferSchema=True)

In [ ]:
df.show()

+---+------+------+------+
|_c0|colum1|colum2|colum3|
+---+------+------+------+
|  a|    30|     2| 20000|
|  b|    25|     3| 25000|
|  c|    33|     7| 45000|
|  d|    19|     1| 26500|
|  e|    22|     3| 33000|
|  f|    40|     8| 45000|
|  g|    50|     9| 50000|
|  h|    45|     9| 44000|
+---+------+------+------+

In [ ]:
df.filter('colum1>3').show()

+---+------+------+------+
|_c0|colum1|colum2|colum3|
+---+------+------+------+
|  a|    30|     2| 20000|
|  b|    25|     3| 25000|
|  c|    33|     7| 45000|
|  d|    19|     1| 26500|
|  e|    22|     3| 33000|
|  f|    40|     8| 45000|
|  g|    50|     9| 50000|
|  h|    45|     9| 44000|
+---+------+------+------+

In [ ]:
spark3=SparkSession.builder.appName('practice4').getOrCreate()

In [ ]:
df=spark3.read.csv('hour (2).csv',header=True,inferSchema=True)

In [ ]:
df.filter('weekday>3').select(['instant','yr','temp']).show()

+-------+---+----+
|instant| yr|temp|
+-------+---+----+
|      1|  0|0.24|
|      2|  0|0.22|
|      3|  0|0.22|
|      4|  0|0.24|
|      5|  0|0.24|
|      6|  0|0.24|
|      7|  0|0.22|
|      8|  0| 0.2|
|      9|  0|0.24|
|     10|  0|0.32|
|     11|  0|0.38|
|     12|  0|0.36|
|     13|  0|0.42|
|     14|  0|0.46|
|     15|  0|0.46|
|     16|  0|0.44|
|     17|  0|0.42|
|     18|  0|0.44|
|     19|  0|0.42|
|     20|  0|0.42|
+-------+---+----+
only showing top 20 rows

In [ ]:
df.filter(df['weekday']>3).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df.filter(df['weekday']>3).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df.filter((df['weekday'] >= 3) & (df['weekday'] <= 5)).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|     93|2011-01-05|     1|  0|   1|  0|      0|      3|         1|         1| 0.2|0.2576|0.64|      0.0|     0|         6|  6|
|     94|2011-01-05|     1|  0|   1|  1|      0|      3|         1|         1|0.16| 0.197|0.74|   0.0896|     0|         6|  6|
|     95|2011-01-05|     1|  0|   1|  2|      0|      3|         1|         1|0.16| 0.197|0.74|   0.0896|     0|         2|  2|
|     96|2011-01-05|     1|  0|   1|  4|      0|      3|         1|         1|0.24|0.2273|0.48|   0.2239|     0|         2|  2|
|     97|2011-01-05|     1|  0|   1|  5|      0|      3|         1|         1|0.22|0.2273|0.47|   0.1642|     0|         3|  3|
|     98|2011-01-05|     1|  0|   1|  6|      0|      3|         1|         1| 0.2| 0.197|0.47|   0.2239|     0|        33| 33|
|     99|2011-01-05|     1|  0|   1|  7|      0|      3|         1|         1|0.18|0.1818|0.43|    0.194|     1|        87| 88|
|    100|2011-01-05|     1|  0|   1|  8|      0|      3|         1|         1| 0.2|0.1818| 0.4|   0.2985|     3|       192|195|
|    101|2011-01-05|     1|  0|   1|  9|      0|      3|         1|         1|0.22| 0.197|0.37|   0.3284|     6|       109|115|
|    102|2011-01-05|     1|  0|   1| 10|      0|      3|         1|         1|0.22| 0.197|0.37|   0.3284|     4|        53| 57|
|    103|2011-01-05|     1|  0|   1| 11|      0|      3|         1|         1|0.26|0.2273|0.33|   0.3284|    12|        34| 46|
|    104|2011-01-05|     1|  0|   1| 12|      0|      3|         1|         1|0.26|0.2273|0.33|   0.3284|     5|        74| 79|
|    105|2011-01-05|     1|  0|   1| 13|      0|      3|         1|         1|0.28|0.2576| 0.3|   0.2985|     6|        65| 71|
|    106|2011-01-05|     1|  0|   1| 14|      0|      3|         1|         1| 0.3|0.2879|0.28|    0.194|    10|        52| 62|
|    107|2011-01-05|     1|  0|   1| 15|      0|      3|         1|         1| 0.3|0.2879|0.28|    0.194|     7|        55| 62|
|    108|2011-01-05|     1|  0|   1| 16|      0|      3|         1|         1| 0.3|0.3182|0.28|   0.0896|     4|        85| 89|
|    109|2011-01-05|     1|  0|   1| 17|      0|      3|         1|         1|0.24|0.2273|0.38|    0.194|     4|       186|190|
|    110|2011-01-05|     1|  0|   1| 18|      0|      3|         1|         1|0.24|0.2424|0.38|   0.1343|     3|       166|169|
|    111|2011-01-05|     1|  0|   1| 19|      0|      3|         1|         1|0.24|0.2576|0.38|   0.1045|     5|       127|132|
|    112|2011-01-05|     1|  0|   1| 20|      0|      3|         1|         1|0.22|0.2273|0.47|   0.1642|     7|        82| 89|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
df.filter(~(df['weekday'] >= 3) & (df['weekday'] <= 5)).show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|     25|2011-01-02|     1|  0|   1|  0|      0|      0|         0|         2|0.46|0.4545|0.88|   0.2985|     4|        13| 17|
|     26|2011-01-02|     1|  0|   1|  1|      0|      0|         0|         2|0.44|0.4394|0.94|   0.2537|     1|        16| 17|
|     27|2011-01-02|     1|  0|   1|  2|      0|      0|         0|         2|0.42|0.4242| 1.0|   0.2836|     1|         8|  9|
|     28|2011-01-02|     1|  0|   1|  3|      0|      0|         0|         2|0.46|0.4545|0.94|    0.194|     2|         4|  6|
|     29|2011-01-02|     1|  0|   1|  4|      0|      0|         0|         2|0.46|0.4545|0.94|    0.194|     2|         1|  3|
|     30|2011-01-02|     1|  0|   1|  6|      0|      0|         0|         3|0.42|0.4242|0.77|   0.2985|     0|         2|  2|
|     31|2011-01-02|     1|  0|   1|  7|      0|      0|         0|         2| 0.4|0.4091|0.76|    0.194|     0|         1|  1|
|     32|2011-01-02|     1|  0|   1|  8|      0|      0|         0|         3| 0.4|0.4091|0.71|   0.2239|     0|         8|  8|
|     33|2011-01-02|     1|  0|   1|  9|      0|      0|         0|         2|0.38|0.3939|0.76|   0.2239|     1|        19| 20|
|     34|2011-01-02|     1|  0|   1| 10|      0|      0|         0|         2|0.36|0.3485|0.81|   0.2239|     7|        46| 53|
|     35|2011-01-02|     1|  0|   1| 11|      0|      0|         0|         2|0.36|0.3333|0.71|   0.2537|    16|        54| 70|
|     36|2011-01-02|     1|  0|   1| 12|      0|      0|         0|         2|0.36|0.3333|0.66|   0.2985|    20|        73| 93|
|     37|2011-01-02|     1|  0|   1| 13|      0|      0|         0|         2|0.36|0.3485|0.66|   0.1343|    11|        64| 75|
|     38|2011-01-02|     1|  0|   1| 14|      0|      0|         0|         3|0.36|0.3485|0.76|    0.194|     4|        55| 59|
|     39|2011-01-02|     1|  0|   1| 15|      0|      0|         0|         3|0.34|0.3333|0.81|   0.1642|    19|        55| 74|
|     40|2011-01-02|     1|  0|   1| 16|      0|      0|         0|         3|0.34|0.3333|0.71|   0.1642|     9|        67| 76|
|     41|2011-01-02|     1|  0|   1| 17|      0|      0|         0|         1|0.34|0.3333|0.57|    0.194|     7|        58| 65|
|     42|2011-01-02|     1|  0|   1| 18|      0|      0|         0|         2|0.36|0.3333|0.46|   0.3284|    10|        43| 53|
|     43|2011-01-02|     1|  0|   1| 19|      0|      0|         0|         1|0.32|0.2879|0.42|   0.4478|     1|        29| 30|
|     44|2011-01-02|     1|  0|   1| 20|      0|      0|         0|         1| 0.3|0.2727|0.39|   0.3582|     5|        17| 22|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

groupby and aggregate

In [ ]:
spark=SparkSession.builder.appName('groupby').getOrCreate()

In [ ]:
my_gr=spark.read.csv('hour (2).csv',header=True,inferSchema=True)

In [ ]:
my_gr.show()

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|      0.0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|      0.0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|      0.0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|      0.0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|      0.0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [ ]:
my_gr.printSchema()

root
 |-- instant: integer (nullable = true)
 |-- dteday: date (nullable = true)
 |-- season: integer (nullable = true)
 |-- yr: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- cnt: integer (nullable = true)

In [ ]:
### group
my_gr.groupBy('yr').mean().show()

+---+------------+------------------+-------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+
| yr|avg(instant)|       avg(season)|avg(yr)|        avg(mnth)|           avg(hr)|        avg(holiday)|     avg(weekday)|   avg(workingday)|   avg(weathersit)|         avg(temp)|         avg(atemp)|          avg(hum)|     avg(windspeed)|      avg(casual)|   avg(registered)|          avg(cnt)|
+---+------------+------------------+-------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+
|  1|     13012.5|2.4898099381726584|    1.0|6.501946416304099| 11.52015113350126|0.029883215021754065|2.994733226471262|0.6817036867414701|1.4130982367758187|0.5048248225326163| 0.4824807190290828|0.6111930386993314| 0.1890339019922046|42.67975727043737|191.98660407602472| 234.6663613464621|
|  0|      4323.0| 2.513591671486408|    0.0|6.573973395026027|11.573626373626373|0.027646038172353962|3.012724117987276|0.6837478311162521| 1.437593984962406|0.4890688259109236|0.46900045112781896|0.6434297281665681|0.19117226142277757|28.60057836899942|115.19386928860614|143.79444765760556|
+---+------------+------------------+-------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+

In [ ]:
## group by departments
mygroup=my_gr.groupBy('weekday').max()

In [ ]:
my_gr.agg({'temp':'sum'}).show()

+-----------------+
|        sum(temp)|
+-----------------+
|8637.140000000005|
+-----------------+

In [ ]:
mygroup.select('max(season)').show()

+-----------+
|max(season)|
+-----------+
|          4|
|          4|
|          4|
|          4|
|          4|
|          4|
|          4|
+-----------+

In [ ]:
spark5=SparkSession.builder.appName('mlpractive').getOrCreate()

In [ ]:
dfnew=spark5.read.csv('practice.csv',header=True,inferSchema=True)

In [ ]:
dfnew.show()

+---+------+------+------+
|_c0|colum1|colum2|colum3|
+---+------+------+------+
|  a|    30|     2| 20000|
|  b|    25|     3| 25000|
|  c|    33|     7| 45000|
|  d|    19|     1| 26500|
|  e|    22|     3| 33000|
|  f|    40|     8| 45000|
|  g|    50|     9| 50000|
|  h|    45|     9| 44000|
+---+------+------+------+

In [ ]:
dfnew.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- colum1: integer (nullable = true)
 |-- colum2: integer (nullable = true)
 |-- colum3: integer (nullable = true)

In [ ]:
dfnew.columns

['_c0', 'colum1', 'colum2', 'colum3']

In [ ]:
#[colum1,colum2]---->new independent features

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler=VectorAssembler(inputCols=['colum1','colum2'],
                          outputCol='Independentfeatures')

In [ ]:
output=assembler.transform(dfnew)

In [ ]:
output.show()

+---+------+------+------+-------------------+
|_c0|colum1|colum2|colum3|Independentfeatures|
+---+------+------+------+-------------------+
|  a|    30|     2| 20000|         [30.0,2.0]|
|  b|    25|     3| 25000|         [25.0,3.0]|
|  c|    33|     7| 45000|         [33.0,7.0]|
|  d|    19|     1| 26500|         [19.0,1.0]|
|  e|    22|     3| 33000|         [22.0,3.0]|
|  f|    40|     8| 45000|         [40.0,8.0]|
|  g|    50|     9| 50000|         [50.0,9.0]|
|  h|    45|     9| 44000|         [45.0,9.0]|
+---+------+------+------+-------------------+

In [ ]:
output.columns

['_c0', 'colum1', 'colum2', 'colum3', 'Independentfeatures']

In [ ]:
final_data=output.select('Independentfeatures','colum3')

In [ ]:
final_data.show()

+-------------------+------+
|Independentfeatures|colum3|
+-------------------+------+
|         [30.0,2.0]| 20000|
|         [25.0,3.0]| 25000|
|         [33.0,7.0]| 45000|
|         [19.0,1.0]| 26500|
|         [22.0,3.0]| 33000|
|         [40.0,8.0]| 45000|
|         [50.0,9.0]| 50000|
|         [45.0,9.0]| 44000|
+-------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independentfeatures',labelCol='colum3')
model=regressor.fit(final_data)

In [ ]:
##coefficints
model.coefficients

DenseVector([-508.7675, 4761.022])

In [ ]:
pred_results=model.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+-------------------+------+-----------------+
|Independentfeatures|colum3|       prediction|
+-------------------+------+-----------------+
|         [40.0,8.0]| 45000|45593.93787575149|
+-------------------+------+-----------------+

In [ ]:
pred_results.meanAbsoluteError

593.9378757514933

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark5=SparkSession.builder.appName('mltips').getOrCreate()

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)

In [ ]:
import requests
url='https://github.com/krishnaik06/Pyspark-With-Python/blob/main/tips.csv'

In [ ]:
response=requests.get(url)

In [ ]:
with open('tips.csv','wb') as f:
  f.write(response.content)

In [ ]:
!ls

'hour (2).csv'	 practice.csv   salary2.xlsx   sample_data   tips.csv

In [ ]:
df2=spark5.read.csv('tips.csv',header=True,inferSchema=True)

In [ ]:
df2.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [ ]:
df2.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [ ]:
df2.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [ ]:
### handling categorical features
from pyspark.ml.feature import  StringIndexer

In [ ]:
indexer=StringIndexer(
    inputCol='sex',
    outputCol='sex_indexed')
df_r=indexer.fit(df2).transform(df2)
df_r.show()

+----------+----+------+------+---+------+----+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|
+----------+----+------+------+---+------+----+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|
+----------+----+------+------+---+------+----+-----------+
only showing top 20 rows

In [ ]:
# when multiple columns it should be inputCols plural
indexer=StringIndexer(
    inputCols=['smoker','day','time','sex'],outputCols=['smoker_indexed','day_indexed','time_indexed','sex_indexed']
    )
df_r=indexer.fit(df2).transform(df2)
df_r.show()

+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|smoker_indexed|day_indexed|time_indexed|sex_indexed|
+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|           0.0|        0.0|         0.0|        0.0|
+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
df2.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [ ]:
featureassembler=VectorAssembler(inputCols=['tip','size','sex_indexed','smoker_indexed','day_indexed'],
                outputCol='Independent Features')

In [ ]:
output=featureassembler.transform(df_r)

In [ ]:
output.show()

+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|smoker_indexed|day_indexed|time_indexed|sex_indexed|Independent Features|
+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        1.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        1.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        1.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|           0.0|        1.0|         0.0|        0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        1.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|           0.0|        1.0|         0.0|        0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        1.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|           0.0|        1.0|         0.0|        1.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|           0.0|        0.0|         0.0|        0.0|(5,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+--------------+-----------+------------+-----------+--------------------+
only showing top 20 rows

In [ ]:
output.select('Independent Features')

Exception ignored in: <function JavaWrapper.__del__ at 0x7c5edaa0aa70>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'VectorAssembler' object has no attribute '_java_obj'

DataFrame[Independent Features: vector]

In [ ]:
finalized_data=output.select(['Independent Features','total_bill'])

In [ ]:
finalized_data.show() # will show just two columns for out model

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(5,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression  #traintest split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features',labelCol='total_bill')
regressor=regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([2.863, 3.7662, -0.8398, 2.2755, -0.7913])

In [ ]:
regressor.intercept

1.869474427130372

In [ ]:
#predictions
pred_results=regressor.evaluate(test_data)

In [ ]:
#myfinal comparisons
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(5,[0,1],[1.45,2.0])|      9.55|13.553186119302795|
|(5,[0,1],[2.34,4.0])|     17.81|23.633601882973466|
| (5,[0,1],[3.0,2.0])|      14.0|17.990880207120135|
| (5,[0,1],[3.0,4.0])|     20.45| 25.52320065585053|
|(5,[0,1],[3.18,2.0])|     19.82|18.506225326995697|
|(5,[0,1],[3.35,3.0])|     20.65|22.759100386798924|
|[1.0,1.0,1.0,0.0,...|      7.25| 7.658911560948889|
|[1.0,2.0,1.0,1.0,...|      5.75|11.326782309467673|
|[1.1,2.0,1.0,1.0,...|      12.9|13.986888561829085|
|[1.25,2.0,1.0,0.0...|      8.51|10.558293290928301|
|[1.36,3.0,1.0,0.0...|     18.64|14.639386644106342|
|[1.5,2.0,0.0,0.0,...|     19.08|12.113801936166386|
|[1.5,2.0,0.0,1.0,...|     11.59|15.971851473630139|
|[1.5,2.0,1.0,0.0,...|     10.65|11.274050401866582|
|[1.5,2.0,1.0,0.0,...|     11.17|11.274050401866582|
|[1.56,2.0,0.0,0.0...|      9.94|13.076851445453604|
|[1.57,2.0,0.0,0.0...|     15.42|13.105481729891137|
|[1.58,2.0,0.0,1.0...|     13.42|13.827090341144286|
|[1.63,2.0,1.0,0.0...|     11.87|11.646244099554487|
|[1.64,2.0,0.0,1.0...|     15.36|16.372675455755573|
+--------------------+----------+------------------+
only showing top 20 rows

In [ ]:
pred_results.r2,pred_results.meanAbsoluteError,pred_results.meanSquaredError

(0.6674910201352298, 3.4352757132757548, 24.054500525644364)